In [1]:
import pandas as pd

In [20]:
pokemon = pd.read_csv('../pokemon.csv').squeeze('columns')

In [24]:
pokemon[0::10]

       Pokemon      Type
0    Bulbasaur     Grass
10     Metapod       Bug
20     Spearow    Normal
30   Nidoqueen    Poison
40       Zubat    Poison
..         ...       ...
680  Aegislash     Steel
690   Dragalge    Poison
700   Hawlucha  Fighting
710  Gourgeist     Ghost
720  Volcanion      Fire

[73 rows x 2 columns]