In [1]:
import pandas as pd

In [4]:
revenue = pd.read_csv('../revenue.csv', index_col='Date')

In [6]:
revenue.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [7]:
revenue.sum(axis='columns')

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [8]:
revenue.sum(axis=0)

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [9]:
revenue.sum(axis=1)

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64