In [7]:
import pandas as pd

In [10]:
pokemon_dataframe = pd.read_csv('../pokemon.csv', usecols=['Pokemon'])

In [11]:
pokemon_series = pokemon_dataframe.squeeze('columns')

if you change some value of the pokemon_series...

In [12]:
pokemon_series[0] = 'Whatever'

The change will also be refelected on pokemon_dataframe...

In [21]:
pokemon_dataframe.head(2)

    Pokemon
0  Whatever
1   Ivysaur

To make a copy, without affecting the original dataframe, just do

In [25]:
pokemon_series_copy = pokemon_dataframe.squeeze('columns').copy(deep=True)

In [26]:
pokemon_series_copy[0] = 'Gaymen'

In [27]:
pokemon_series_copy

0          Gaymen
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [28]:
pokemon_dataframe.head(2)

    Pokemon
0  Whatever
1   Ivysaur