In [1]:
import pandas as pd

In [4]:
nba = pd.read_csv('../nba.csv').dropna(how='all')

In [5]:
nba['Age'].hasnans

False

converting

In [8]:
nba['Age'].astype('int')

0      25
1      25
2      27
3      22
4      29
       ..
452    20
453    26
454    24
455    26
456    26
Name: Age, Length: 457, dtype: int64